*.a
*.elf
*.ELF
*.erl
*.exe
*.o
*.swp
*.tmp
*.irx
*.s
githash.h
!iop/bdm.irx
!iop/bdmfs_fatfs.irx
!iop/mcman.irx
!iop/mcserv.irx
!iop/mx4sio_bd.irx
!iop/sio2man.irx
!iop/tty2sior.irx
!iop/usbmass_bd.irx
iop/vmc_fs.irx
